<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="/img/ic.ico" type="image/x-icon">
  <meta name="description" content="A simple tool for converting HEX values to RGB and vice versa.">
  <meta name="keywords" content="hex, hexadecimal, rgb, converter, hex to rgb, hexadecimal to rgb, hex to rgb converter, rgb to hex, rgb to hex converter, convert hex to rgb, convert rgb to hex, hex to rgb conversion, rgb to hex conversion, hex converter, rgb converter, simple hex to rgb converter">
  <meta property="og:title" content="HEX to RGB Converter" />
  <meta property="og:description" content=p "A simple tool for converting HEX values to RGB and vice versa." />

  <title>HEX-RGB Converter</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/app.css">

</head>
{{#if r}}
<body style="background-color:#{{r}}">
  {{else}}
<body style="background-color:rgb({{result.red}},{{result.green}},{{result.blue}})">
  {{/if}}
  <p class="title" tabindex="-1">Hex<i class="fa fa-arrows-h" style="font-size:24px;text-align:center;"></i>Rgb</p>
      <div id="container">
        <form method="POST">
          <div class="row">
            <div class="col">
              <input id="hex" name="hex" placeholder="Hex" autocomplete="off" type="text" class="form-control">
            </div>
             <i class="fa fa-arrows-h" style="font-size:24px;text-align:center;"></i>
            <div class="col">
              <input id="rgb" name="rgb" type="text" class="form-control" placeholder="Rgb">
            </div>
          </div>
          <div id="result" style="margin-left:130px;">
            </br>
            {{#if r}}
            <p>Hex : #{{r}}</p>
            {{else}}
            <p >Rgb : ({{result.red}},{{result.green}},{{result.blue}}) </p>
            {{/if}}
          </div>
          </br>
          <button  style="width:100%;" type="submit" class="btn btn-outline-dark">Convert</button>
        </form>
      </div>
    
      <div style="text-align:center; position:absolute; bottom:20px; left:50%; transform: translate(-50%, -50%); ">
        <a href="">2019 @
          <b>Codiful</b>
        </a>
      </div>

</body>

</html>